
.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #948e98;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #9575CD;
  color: floralwhite; }

.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #512DA8; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carousel-button {
  right: 0px;
  position: absolute;
  bottom: 0px; }

#carouselButtons {
  right: 0px;
  position: absolute;
  bottom: 0px; }

.modal-header {
  background: #512DA8;
  color: floralwhite; }
  .modal-header button {
    color: floralwhite; }

.modal-body {
  background: #D1C4E9; }

.modal-footer {
  background: #948e98; }
.img-fluid {
  width: auto;
}
.css-button-sliding-to-left--blue {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #512DA8;
  overflow: hidden;
  border: 2px solid #2c0b8e;
  color: #2c0b8e;
}
.css-button-sliding-to-left--blue:hover {
  color: #fff;
}
.css-button-sliding-to-left--blue:hover:after {
  width: 100%;
}
.css-button-sliding-to-left--blue:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #2c0b8e;
}
.css-button-3d--sand {
    min-width: 130px;
    height: 40px;
    color: #0c0c0c;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #ced4da;
    box-shadow: 0 5px #adb5bd;
}
.css-button-3d--sand:hover {
    box-shadow: 0 3px #adb5bd;
    top: 1px;
}
.css-button-3d--sand:active {
    box-shadow: 0 0 #adb5bd;
    top: 5px;
}

/*profile part*/

.card {
    width: 60%;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #fff;
    position: relative;
    height: 100%
}

.upper {
    height: 200px
}

.upper img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.user {
    position: relative
}

.profile img {
    height: 150px;
    width: 150px;
    margin-top: 2px
}

.profile {
    position: absolute;
    top: -50px;
    left: 42%;
    height: 150px;
    width: 150px;
    border: 3px solid #fff;
    border-radius: 50%
}

.follow {
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px
}
hr {
    margin: 0px;
}

